.bgImage {
    height: 600px;
    width: 100%;
}

.bgImage_inner {
    height: 70vh;
    width: 100%;
    position: relative; /* Ensure positioning context for absolute overlay */
}

.bgImage_inner img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
}

.bgImage_inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)); /* Adjust gradient colors and direction as needed */
}
.static-text {
    position: absolute;
    bottom: 250px; /* Adjust positioning as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    z-index: 2; /* Ensure text appears above the gradient overlay */
    color: #fff; /* Text color */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    text-align: center; /* Center text horizontally */
    text-shadow: 2px 2px 4px rgba(53, 50, 50, 0.5); /* Optional: add text shadow for better visibility */
}
